
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e7faff;
  border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient( 315deg , #4070f4, #62a7d8 ); 
  border-radius: 10px;
  transition: 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient( 315deg , #3268fd, #4f8cb8 ); 
}

#topnav{

  top: 0;

}

.top {

  height: 30px;
  background-color: #afd9e4;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.top h1{

  font-size: 15px;
  padding-left: 45%;
  color: #000000;
  font-weight: 500;

}

header {
  height: 70px;
  
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 30px;
}

nav {
  width: 100%;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  transition: 0.20s  ease-in-out;
   
}

nav.black {
background: #ffffff;
border-bottom-left-radius: 70px;

}

body {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.logo {
width: 150px;
cursor: pointer;
}

nav ul li {
  padding: 20px;
  font-size: 16.5px;
  display: inline-block;
  position: relative;
}

nav ul  :hover{
font-weight: 500;
color: #3b70ff;
font-size: 17px;

}

nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  text-transform: uppercase;
}

nav ul li ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  width: 180%;
  background-color: #dddddd;

 border-radius: 25px;
  transition: 0.15s ease-in-out;
  line-height: 1px;
}

nav > ul > li > ul {
  left: 0;
  top: 100%;
}

.drop-icon {
  transform: rotate(-90deg);
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

input {
  display: none;
}

label {
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 30px;
  color: #3a3a3a;
  display: none;
}

label:hover{

color: #3b70ff;

}

label span {
  font-family: "Roboto", serif;
}

@media (max-width:768px) {

nav {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

  nav > ul {
      position: absolute;
      top: 70px;
      left: -100%;
      width: 100%;
      transition: 0.15s linear;
      background-color: #ffffff;
      
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
  }

  nav ul li {
      display: block;
      line-height: 10px;
  }

label {
      display: flex;
      margin-right: -50px;
  }

  .drop-icon {
      transform: rotate(0deg);
  }

  nav ul li ul {
      width: max-content;
      z-index: 1;
      width: 200%;
      border-top: 2px solid #fff;
     
      border-radius: 0;
   
  }

  input:checked ~ #menu {
      left: 0;
  }
}

@media (max-width:1210px){

  nav {
      width: 100%;
      height: 70px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
  }

      nav > ul {
          position: absolute;
          top: 70px;
          left: -100%;
          width: 100%;
          transition: 0.15s linear;
          background-color: #ffffff;
          border-bottom-right-radius: 40px;
          border-bottom-left-radius: 40px;
      }
  
      nav ul li {
          display: block;
          line-height: 10px;
      }
  
  label {
          display: flex;
          margin-right: -50px;
      }
  
      .drop-icon {
          transform: rotate(0deg);
      }
  
      nav ul li ul {
          width: max-content;
          z-index: 1;
          width: 200%;
          border-top: 2px solid #ffffff;
         
          border-radius: 0;
    
      }
  
      input:checked ~ #menu {
          left: 0;
      }

      .top h1{

          font-size: 15px;
          padding-left: 36%;
          color: rgb(0, 0, 0);
          font-weight: 500;

        }


}

.banner-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 30px;
	background-image: url('./Images/Emergency.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	color: rgb(107, 107, 107);
  text-align: left;
  padding: 150px 50px;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #ebebeb;
	height: 650px;
 
}
.content-area h2 {
	font-family: poppins;
	
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
  padding: 2% 80px;
}
.content-area p {
	padding: 0 80px;
	font-family: poppins;
	line-height: 30px;
}

img {
  float: right;
  width: 450px;
  margin-left: 10px;
  border-radius: 20px;
}

.call{

  padding: 0 80px;

}

.call a {

  text-decoration: none;
}

.button{
  padding-top: 50px;

}

.button a {

  text-decoration: none;

}

.channel{
  
  width: 50%;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #4070f4, #62a7d8 );
  border: 0;
  outline: none;
  border-radius: 30px;
  
}

.channel:hover{

  background: linear-gradient(to left, #4070f4, #62a7d8 );
  box-shadow: 0 0 20px 9px #afafaf3b ;
}

#doctorlist {

  border-collapse: collapse;
  width: 60%;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
   
}

#doctorlist .id {

  width: 90px;

}

#doctorlist td, #doctorlist th {
  border: 0px solid #ddd;
  padding: 8px;

}

#doctorlist tr:nth-child(even){background-color: #f2f2f2;}

#doctorlist tr:hover {background-color: #ddd;}

#doctorlist th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006f9b;
  color: white;
}

 .faqs{
    padding: 0px 20px 20px;
    float: left;
    width: 800px;
    padding: 0 80px;
 }
 
 @media (max-width: 1400px) {
  .faqs{

    width:  700px;

 }
 }

 @media (max-width: 1240px) {
  .faqs{
   
    width:  600px;
    
 }

}

@media (max-width: 1030px) {
  img {
    float: right;
    width: 350px;
    margin-left: 10px;
    border-radius: 20px;
  }

}

 @media (max-width: 1140px) {
  .faqs{
   
    width:  500px;
    
 }
  
 }
 ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
 
 details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    
 }

 details summary:hover {

    color: #62a7d8;


 }
 
 details summary{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.15s ease;
 }

 details .text {

    padding-left: 40px;

 }

  @media (max-width: 920px) {

    .content-area {
       
        height: 1200px;
     
    }

    .banner-area h2 {
        padding-top: 25%;
        font-size: 60px;
        font-family: poppins;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding: 100px 5px;
        
    }

    img {
      
      float: right;
      width: 1px;
    }

    .top h1{

      font-size: 15px;
      padding-left: 36%;
      color: rgb(0, 0, 0);
      font-weight: 500;

    }

    .faqs{
        padding: 0px 20px 20px;
        float: left;
        width: 410px;
        padding: 0 50px;
     }


  }

  .content1 {

      margin-top: 400px;
      background-size: cover;
      background-position: center;
      width: 100%;
      position: relative;
      background: #ebebeb;

  }


  .footer{
	
    background: #fff5f5 ;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 'poppins' 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right{
    display: inline-block;
    vertical-align: top;
  }

  .footer .footer-left{
    width: 40%;
  }

  .footer h3{
    color:  #018eb1;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer h3 span{
    color:  rgb(0, 0, 0);
  }
  
  .footer .footer-links{
    color:  #000000;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .footer-links a{
    display:inline-block;
    line-height: 1.8;
      font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer .company{
    color:  rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .footer-center{
    width: 35%;
  }
  
  .footer .footer-center i{
    background-color:  #000000;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p{
    display: inline-block;
    color: #000000;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer .footer-center p a{
    color:  #000000;
    text-decoration: none;;
  }
  
  .footer .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: rgb(0, 0, 0);
    transition: 0.5s ease;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .footer-links .link-1:before {
    content: none;
  }
  .footer .footer-links :hover{
    color:#3b70ff;
  }
  
  .footer .footer-right{
    width: 20%;
  }
  
  .footer .footer-company-about{
    line-height: 20px;
    color:  #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .footer-company-about span{
    display: block;
    color:  #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .footer-icons{
    margin-top: 25px;
  }
  
  .footer .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50px;
    background-color:  #000000;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
  
    .footer{
      font: bold 14px sans-serif;
    }
  
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer .footer-center{

      text-align: left;
      margin-left: 40px ;

    }
    .footer .footer-center i{
      margin-left: 0;
     
    }

  }

  @media (max-width: 400px){

    .footer .footer-center{

      text-align: left;
      margin-left: 20px ;

    }

  }


